.table {
	border:solid;
}
.table th{
	border:solid;
}
.table td{
	border:solid;
}


/**
ロード画面
**/
.loadDiv{
	width:50px;
	height:50px;
	position : relative;
	border-radius:50%;
}

.loadDiv *{
	position : absolute;
	width:40%;height:40%;
	border-radius:50%;
}

.load1{
	clear:both;
	top:0%;left:0%;
	animation : load1 2s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes load1{
  0%{ 	background:rgba(100,100,100,1.0);}
  25%{ 	background:rgba(100,100,100,0.0);left:50%;}
  50%{ 	background:rgba(100,100,100,0.0);}
  75% {	background:rgba(100,100,100,0.0);rotate();}
}

.load2{
	clear:both;
	top:0;left:50%;
	animation : load2 2s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes load2{
  0%{ 	background:rgba(100,100,100,0.0);}
  25%{ 	background:rgba(100,100,100,1.0);}
  50%{ 	background:rgba(100,100,100,0.0);top:50%;}
  75% {	background:rgba(100,100,100,0.0);}
}


.load3{
	clear:both;
	top:50%;left:50%;
	animation : load3 2s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes load3{
  0%{ 	background:rgba(100,100,100,0.0);}
  25%{ 	background:rgba(100,100,100,0.0);}
  50%{ 	background:rgba(100,100,100,1.0);}
  75% {	background:rgba(100,100,100,0.0);left:0%;}
}

.load4{
	clear:both;
	top:50%;left:0%;
	animation : load4 2s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes load4{
  0%{ 	background:rgba(100,100,100,0.0);}
  25%{ 	background:rgba(100,100,100,0.0);}
  50%{ 	background:rgba(100,100,100,0.0);}
  75% {	background:rgba(100,100,100,1.0);}
  100%{ background:rgba(100,100,100,0.0);top:0%;}
}

